@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,300&display=swap');

body {
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

.modal {
	width: 300px;
}

.modal-content {
	width: 300px;
}

button.ui-button {
	margin-right: .5rem;
}

form#form_button {
	padding: 15px;
}

form#formLogin {
	height: 80vh;
	width: 100%;
	display: grid;
	margin: auto;
	align-content: center;
	justify-content: center;
}
.textoTela{
	font-size: 35px;
	padding: 5px;
}