@import
url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap')
;

body {
	font-size: 16px !important;
	font-family: Lato, sans-serif!important;
	margin: 0 !important;
	padding: 0 !important;
}

.modal {
	width: 300px !important;
}

.modal-content {
	width: 300px !important;
}


button.ui-button {
	margin-right: .5rem !important;
}

form#form_button {
	padding: 15px !important;
}

.textoTela{

}